$error-color: rgba(229, 46, 46, 1);
$primary-color: rgba(10, 29, 61, 1);
$secondary-color: rgba(226, 224, 227, 1);
$disabled-color: rgba(241, 241, 241, 1);
$background-color: rgba(255, 255, 255, 1);
$highlight-color: rgba(47, 123, 234, 1);
$btn-hover-color: rgba(11, 10, 13, 1);

%input-style {
    border-radius: 8px;
    border: 1px solid $secondary-color;
    width: 100%;
    margin: 4px 0 0 0;
    padding: 12px;
    color: $primary-color;
}  

%label-style {
    color: rgba(137, 131, 144, 1);
    display: block;
}

::ng-deep{
    input, .p-radio-button, .p-radio-circle{
        &:hover{
            background-color: $disabled-color;
            border-color: $disabled-color;
            outline: none;
        }
        &:active{
            border: none;
            box-shadow: none;
            outline: none;
        }
        &:focus{
            border: none;
            box-shadow: none;
            outline: none;
        }
    }
    .form-label {
        @extend %label-style;
      }
      
    .form-input {
        @extend %input-style;
    }     
    
    .p-dropdown{
        width: 100%;
        &:hover{
          background-color: $disabled-color;
          border-color: $disabled-color;
        }
        input{
          @extend %input-style;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
    }

    .btn-primary,.book-button{
        &:hover{
            background-color: $btn-hover-color !important;
        }
    }
    .btn-secondary{
        &:hover{
            background-color: $disabled-color !important;
        }
    }

    form.submitted{
        .form-input.ng-invalid {
            border-color: red !important;
            border-width: 2px !important;
          }
        }
}