$markerBackColor: #0f1e29;

:host {
  display: block;
  margin-top: 25px;

  &:has(.to-bottom) {
    margin-bottom: 25px;
  }

  ::ng-deep {
    p-slider {
      .p-slider {
        margin: 10px 20px 10px 10px;

        .p-slider-handle {
          background-color: #009de9;
          cursor: pointer;

          &:before {
            position: absolute;
            color: #ffffff;
            font-size: 12px;
            background-color: $markerBackColor;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2px 4px;
            gap: 10px;
            width: auto;
            height: 16px;
          }

          &:not(.to-bottom) {
            &:before {
              top: -25px;
            }
          }

          &.to-bottom {
            &:before {
              bottom: -25px;
            }
          }

          &:nth-child(2) {
            &:before {
              content: attr(data-left);
            }

            &:not(.to-right) {
              &:before {
                left: 0;
              }
            }

            &.to-right {
              &:before {
                right: 0;
              }
            }
          }

          &:nth-child(3) {
            &:before {
              content: attr(data-right);
            }

            &:not(.to-left) {
              &:before {
                right: 0;
              }
            }

            &.to-left {
              &:before {
                left: 0;
              }
            }
          }

          &:nth-child(2) {
            &:after {
              left: -5px;
              border-right: 0;
            }
          }

          &:nth-child(3) {
            &:after {
              right: -5px;
              border-left: 0;
            }
          }
        }
      }
    }
  }
}
